// Header logos to pure white
.d-header-icons .d-icon {
  opacity: 1;
  color: #fff
}

// Remove ADVERTISEMENT-labeld for DFP, AdSense
.google-adsense-label {
  display: none;
}

.google-dfp-ad-label {
  display: none;
}

// Remove extra space between before ad in categories view
#list-area {
  margin-bottom: 20px;
}

// Hide the dangerous Mailing list mode -setting
.user-preferences .pref-mailing-list-mode {
  display: none;
}


